.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/src-tauri/target/
/node_modules/
/build/
/.vscode/
/.svelte-kit/
/.cargo/
/.idea/
